@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        scroll-behavior: smooth;
        scrollbar-width: none;
}

:root {
    --primary-color:#f1e9e5;
    --second-color:#232425;
    --spacing:20px;
    --shadow: #0000001a 0px 4px 12px;
    --shadow-hover: #00000036 0px 8px 16px;
    --inputs: #ebdfd8; 
}  

body {
    background-color: var(--primary-color);
    overflow-x: hidden;
}

h1 {
    padding-right: var(--spacing);  
    color: var(--second-color);
    font-size: 80px;
    font-family: "BBH Sans Bartle", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: -50px;
    display: flex;
    justify-content: center;
    position: relative;
}

h2 {
    font-size: 40px;
    padding: var(--spacing);
    text-align: center;
    color: var(--second-color)
}

a {
    text-decoration: none;
    color: var(--second-color);
    font-weight: bold;    
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 10px;
}

#logo{
    height: 50px;
    width: auto;
}

nav > ul {
    padding: var(--spacing);
    display:flex;
    width: 100%;
    height: 80px;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 20px;    
}

.containerTexto {
    background-color: var(--second-color);
}

.texto {
    padding: var(--spacing);
    position: relative;
    white-space: nowrap;
    animation: textScroll 30s linear infinite;
    color: var(--primary-color);
    font-weight: bold;
    letter-spacing: 3px;
}

header img {
    height: auto;
    z-index: -1;
}

.glitch-wrapper {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

.glitch {
   position: relative;
   font-size: 98px;
   font-weight: 700;
   line-height: 1.2;
   color: var(--second-color);
   letter-spacing: 5px;
   animation: shift 4s ease-in-out infinite alternate;
   z-index: 1;
}

.glitch:after {
   content: attr(data-glitch);
   position: absolute;
   top: 0;
   left: 2px;
   text-shadow: 1px 0 var(--second-color);
   width: 100%;
   overflow: hidden;
   clip: rect(0, 900px, 0, 0);
   animation: noise-after 2s infinite linear alternate-reverse;
}

main#productos > ul {
    padding: var(--spacing);
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap:20px;
    margin: 0 auto;
}

main > ul > li {
    padding: var(--spacing);
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

main#productos > ul > li:nth-child(6) > img {
    object-position: 0 1px;
}

img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}

li > img {
    border-radius: 8px;
}

main > ul > li:hover {
    box-shadow: var(--shadow-hover);
}

button {
    padding: 10px 0;
    border-radius: 10px;
    font-size: 16px;
    width: 60%;
    align-self: center;
    background-color: var(--second-color);
    color: var(--primary-color);
    cursor: pointer;
}
button:hover {
    background-color: var(--second-color);
    filter: brightness(1.5);
}

section#formulario {
    display: flex;
    flex-direction: column;
    background-color: var(--second-color);
}

form {
    background-color: var(--primary-color);
    width: 40%;
    border-radius: 10px;
    padding: var(--spacing);
    justify-content: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    
}

section#formulario > h2 {
    color: var(--primary-color);
    margin-top: -10px;
    border-radius: 10px;
}

.input-wrapper, legend {
    font-size: large;
    font-weight: 600;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    
}

input {
    height: 50px;
    border-radius: 8px;
    border: none;
    box-shadow: inset var(--shadow);
    background-color: var(--inputs);
    padding-left: 15px; 
}

textarea {
    field-sizing: content;
    width: 100%;
    height: 100px;
    box-shadow: inset var(--shadow);
    border-radius: 8px;
    border: none;
    background-color: var(--inputs);
}

input[type="radio"], input[type="checkbox"]{
    box-shadow: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: var(--spacing);
    background-color: var(--inputs);
}

option,optgroup,select{
    background-color: var(--inputs);
}

legend {
    margin-top: var(--spacing);
}

footer {
    background-color: var(--second-color);
    text-align: center;
}

.buttons {
    display: flex;
    gap: 20px;
    padding: var(--spacing);
}

#enviar:hover {
    background-color: #1fac0079;
    color: var(--second-color);
    font-weight: bold;
}

#borrar:hover {
    background-color: #ac000079;
    color: var(--second-color);
    font-weight: bold;
}

footer, footer a {
    color: var(--primary-color);
    padding-top: var(--spacing);
    font-size: 18px;
}

section#redes {
    padding-bottom: 50px;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
}

section#redes svg {
    margin-right: 10px;
    vertical-align: middle;
}

@keyframes noise-before {
   0% {
      clip: rect(61px, 9999px, 52px, 0);
   }

   20% {
      clip: rect(62px, 9999px, 180px, 0);
   }

   35% {
      clip: rect(99px, 9999px, 63px, 0);
   }

   40% {
      clip: rect(188px, 9999px, 122px, 0);
   }

   50% {
      clip: rect(63px, 9999px, 37px, 0);
   }

   55% {
      clip: rect(161px, 9999px, 147px, 0);

   }
   100% {
      clip: rect(173px, 9999px, 166px, 0);
   }
}

@keyframes noise-after {
   0% {
      clip: rect(26px, 9999px, 33px, 0);
   }

   5% {
      clip: rect(140px, 9999px, 198px, 0);
   }

   40% {
      clip: rect(147px, 9999px, 137px, 0);
   }

   45% {
      clip: rect(31px, 9999px, 52px, 0);
   }

   50% {
      clip: rect(191px, 9999px, 109px, 0);
   }

}
@keyframes textScroll {
  0% {
    left: 100%;
  }
  100% {
    left: -100%
  }
}